<ion-view view-title="Details" ng-controller="FacDetailsCtrl" ng-init="initialize()">
  <ion-content>
  <ion-slide-box>
	
		      <ion-slide ng-repeat="image in images"> 
             <div class="container" ng-if="slideVisible($index)" class="scrollCanvas">
                  <ion-scroll class="scrollCanvas" zooming="true" min-zoom="1" direction="xy" locked="false">
                        <div class="image" style="background-image: url( {{image}} )"></div>  
                  </ion-scroll>
             </div>
             <div>&nbsp;</div>
      </ion-slide>
	
	</ion-slide-box>
	<div class="card" style="margin-top: -8px; padding: 7px;">
		<b>Owner &nbsp;&nbsp;&nbsp;: </b> {{data.owner}} <br />
		<b>No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b> {{data.phone}} <br />
		<b>Address &nbsp;: </b> {{data.address}} <br />
		<b>Service &nbsp;&nbsp;:	</b> {{data.service}}
	</div>
  <div class="item item-divider" style="background-color: #387ef5; color: white">
    Map
  </div>
	    <div style="width:100%; height:70%;" id="map2" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
