<ion-view view-title="Facilities">
  <ion-content>

<div class="card" ng-repeat="items in items">
      <a class="item item-icon-right" ng-click="goFacilities({{items.id}})" style="background-color: #387ef5; color: white; padding: 9px;">
    <i class="icon ion-ios-plus-empty"></i>
    {{items.name}}
  </a>
  <div class="item item-text-wrap" style="padding: 9px;">
    <p>Owner : {{items.owner}}</p>
    <p>Phone : {{items.phone}}</p>
  </div>
  </div>
  </ion-content>
</ion-view>
