<ion-view view-title="Details" ng-init="initialize()" >
  <ion-content>
  <ion-slide-box>
  
          <ion-slide ng-repeat="image in images"> 
             <div class="container" ng-if="slideVisible($index)" class="scrollCanvas">
                  <ion-scroll class="scrollCanvas" zooming="true" min-zoom="1" direction="xy" locked="false">
                        <img class="image" ng-src={{image}} width="100%" height="100%">
                  </ion-scroll>
             </div>
             <div>&nbsp;</div>
      </ion-slide>
  
  </ion-slide-box>
  
	<div class="card" style=" padding: 7px;" ng-hide={{stat1}}>
		<b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>
    <p>{{data.name}}</p>
		<b>Address &nbsp;&nbsp;&nbsp;&nbsp;: </b>
    <p>{{data.address}}</p>
		<b>Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b> 
    <p style="text-align: justify;">{{data.phone}} </p>
		<b>Price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b> 
    <p>{{data.price}} </p>
    <b>Facilities &nbsp;&nbsp;: </b>
    <p style="text-align: justify;">{{data.facilities}} </p>
    <p style="text-align: justify;">{{data.others}}</p>
	</div>
    <div class="card" style=" padding: 7px;" ng-repeat="data in data" ng-hide={{stat2}}>
    <b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>{{data.name}}<br />
    <b>Address &nbsp;&nbsp;&nbsp;&nbsp;: </b>{{data.address}}<br />
    <b>Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b> {{data.phone}} <br />
    <b>Price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b> {{data.price}} <br />
    <b>Facilities &nbsp;&nbsp;: </b>{{data.facilities}} <br />
    <br />
    {{data.others}}
  </div>
    <div class="item item-divider" style="background-color: #387ef5; color: white">
    Map
  </div>
      <div style="width:100%; height:70%;" id="map3" data-tap-disabled="true"></div>

  </ion-content>
</ion-view>
