<ion-view view-title="">
  
  <ion-content  style="background-color: #2279eb;" overflow-scroll="false">
  <div align="center" style="margin-top:35px;">
<img src="img/logo.png" width="70%" height="70%">
  </div>

      <form>
   <div class="card">
  <input type="text" auto-focus ng-model="loginData.usrName" placeholder="Username" name="fname" style="text-align: left; margin-left:15px; margin-top:15px; margin-bottom:10px;">
  <input type="password" ng-model="loginData.usrPass" placeholder="Password" name="fname" style="text-align: left; margin-left:15px; margin-bottom:20px;">  
  </div>
  <div align="center" width="100%">
  <div class="button button-block button-normal"  style="margin-left:10px; margin-right:10px; background: #ff7058" ng-click="doLogin()">
  <i class="icon ion-log-in" style="color: white;">
  <font color="white">Login</font>
  </i>
  </div>  
  </div>  
  </form>
      <div class = "row center" style="bottom:0; margin-top: -22px;">
        <div class="col text-right">
            <button class="button button-clear button-light" ng-click="doRegister()" style="color:white;">Create new account</button>
        </div>
        <div class="col text-left">
            <button class="button button-clear button-light" style="color:white;" ng-click="doGuest()">Login as guest</button>
        </div>
      </div>

   </ion-content>

</ion-view>