<ion-view view-title="Home">
  <ion-content>
	<div width="60%" height="40%" style="border-style: solid; border-bottom: thick solid #387ef5;">
		<img src="img\main.JPG" width="100%" height="100%">
	</div>
		<button ng-click="goMap()" class="button icon-left ion-map" style="margin-top: -60px; margin-left: 10px; background: #387ef5; color: white;">Map</button>
	<div style="text-align: justify; margin-top: -6px;" class="card">	
	<p style="margin: 10px;">
		The Sabak Bernam District is a district in Selangor, Malaysia. It covers an area of 1,056 square kilometres, and had a population of 106,158 at the 2010 Census (provisional result). It is situated to the northwest of Selangor town. It is bordered by the state of Perak to the north, the district of Hulu Selangor to the east, the district of Kuala Selangor to the south, and the Straits of Malacca to the west. Bernam River forms its border with Perak. Sabak Bernam district include Pekan Sabak, Taman Air Manis, Sungai Air Tawar, and Sungai Lang.
		The district is mainly a Palm oil orchad area. As such, Sabak Bernam's main economic activity is agriculture.
	</p>
	</div>
  </ion-content>
</ion-view>
