<ion-view view-title="Manage House Stay">
  <ion-content>
<div class="list card" ng-repeat="house in house"> 

  <div class="item item-divider-positive" style="font-size: 17px; background-color: white; color: #387ef5;">
   <b>{{house.name}}</b>
  </div>
  <a class="item">
  <div width="60%" height="20%">
  <img src="img\houseMain.jpg" width="100%" height="100%">
  </div>
  </a>

    <div class="item item-divider" style="background-color: #2279eb;" ng-click="goUpdate({{house.id}})">
    <a class="item item-icon-right" style="background-color: #2279eb;">
    <i class="icon ion-edit" style="font-size: 18px; color: white;">Update</i>
  </a>
  </div>

  </div>

  </ion-content>
</ion-view>
