<ion-view view-title="Map" ng-controller="MapCtrl" ng-init="initialize()">
  <ion-content>
	    <div style="width:100%; height:100%;" id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
