<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background-color: #387ef5;">

    <ion-content >
      <!-- Admin -->
      <ion-list ng-hide="stat1">
        <ion-item menu-close href="#/app/profile" class="item-positive">
           <i class="icon ion-android-person" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Profile
        </ion-item>
         <ion-item menu-close href="#/app/registerHouse" class="item-positive">
           <i class="icon ion-android-create" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Register House stay
        </ion-item>
        <ion-item menu-close href="#/app/manage" class="item-positive">
           <i class="icon ion-home" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Manage House stay
        </ion-item>
          <ion-item menu-close href="#/app/sabak" class="item-positive">
           <i class="icon ion-android-list" style="color: white;"></i> &nbsp;&nbsp;&nbsp;Housestay List
        </ion-item>
        <ion-item menu-close href="#/app/facilities" class="item-positive">
          <i class="icon ion-map" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Nearby & Facilities
        </ion-item>
        <ion-item menu-close href="#/app/login" class="item-positive">
          <i class="icon ion-log-out" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Logout
        </ion-item>
      </ion-list>

      <!-- Guest -->
      <ion-list ng-hide="stat2">
        <ion-item menu-close href="#/app/main" class="item-positive">
          <i class="icon ion-home" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Home
        </ion-item>
        <ion-item menu-close href="#/app/sabak" class="item-positive">
          <i class="icon ion-android-list" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Housestay List
        </ion-item>
        <ion-item menu-close href="#/app/facilities" class="item-positive">
          <i class="icon ion-map" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Nearby & Facilities
        </ion-item>
       <ion-item menu-close href="#/app/rate" class="item-positive">
          <i class="icon ion-ios-star" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Rate Us
        </ion-item>
        <ion-item menu-close ng-click="doLogout()" class="item-positive">
          <i class="icon ion-log-out" style="color: white;"></i> &nbsp;&nbsp;&nbsp; Logout
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
