<ion-view view-title="Profile" cache-view="false">
 <ion-content has-header="true">
      <div id="content">
        <div id="profile-info" ng-repeat="data in data">
          <img id="profile-image" ng-src={{data.url}}>
          <h4 id="profile-name">{{data.name}}</h4>
          <span id="profile-description">
          <b>Phone :    </b> {{data.phone}} <br/>
          <b>Website :  </b> {{data.website}} <br />
          <b>Bio :      </b> {{data.bio}}
          </span>
          <i class="icon ion-edit positive editIcon" style="font-size: 25px;" ng-click="goEdit()"></i>

        </div>
      </div>
      <br />
      <div>
         	 <ion-item style="background: #387ef5; color: white;">
         	 <b>House Stay List</b>
          	</ion-item>

		<div class="list card" ng-repeat="house in house"> 
  		<a class="item item-icon-right">
   		<i class="icon ion-android-remove-circle positive" ng-click="goDelete({{house.id}})"></i>
   		{{house.name}}
 		</a>
		</div>

      </div>
    </ion-content>
</ion-view>
