<ion-view view-title="Rate Us">
  <ion-content>
  <br />
  <div align="middle">
  <h3>Write a review</h3>
  </div>
  <div class="card">
<div class="list">
   <label class="item item-input item-floating-label">
   <span class="input-label">From</span>
   <input type="text" placeholder="From">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Title</span>
   <input type="text" placeholder="Title">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Review</span>
   <input type="text" placeholder="Review">
   </label>
</div>
</div>
<div align="center">
    <button class="button button-positive" style="color:white;" ng-click="doRate()">Rate Us</button>

</div>
  </ion-content>
</ion-view>
