<ion-view view-title="Register House Stay">
  <ion-content>
<!-- <div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
     Select Location
    </div>
    <select ng-model="houseData.location">
      <option selected>Pekan Sabak</option>
      <option>Air Manis</option>
      <option>Sungai Air Tawar</option>
    </select>
  </label>
</div> -->
   <br />

<div class="card" style="margin-bottom: -17px; margin-top: -10px; padding: 6px">
   Upload your picture at http://tinypic.com/ and paste the link for "Direct Link for Layouts" below :
  <label class="item item-input">
    <input type="text" ng-model="houseData.url">
  </label>
   </div>



    <br />    <br />
   <label class="item item-input item-floating-label">
   <span class="input-label">Latitude</span>
   <input type="text" placeholder="Latitude" ng-model="houseData.lat">
   </label>
  <label class="item item-input item-floating-label">
   <span class="input-label">Longitude</span>
   <input type="text" placeholder="Longitude" ng-model="houseData.lang">
   </label>

    <div class="list">

   <label class="item item-input item-floating-label">
   <span class="input-label">House Stay Name</span>
   <input type="text" placeholder="House Stay Name" ng-model="houseData.name">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Address</span>
   <input type="text" placeholder="Address" ng-model="houseData.address">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Phone No</span>
   <input type="text" placeholder="Phone No" ng-model="houseData.phone">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Facilities</span>
   <input type="text" placeholder="Facilities" ng-model="houseData.facilities">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Price (RM)</span>
   <input type="number" placeholder="Price (RM)" ng-model="houseData.price">
   </label>
</div>
<br/>
      <div class = "row center" style="bottom:0; margin-top: -22px;">
        <div class="col text-right" ng-click="goBack()">
            <button class="button button-normal button-assertive icon-left"><ion-icon class="ion-android-cancel">
            </ion-icon>
              Cancel</button>
        </div>
        <div class="col text-left">
            <button class="button button-normal button-balanced icon-left" ng-click="doRegister()"><ion-icon class="ion-checkmark">
            Done</button>
        </div>
      </div>
  </ion-content>
</ion-view>
