<ion-view>
  <ion-content style="background-color: #387ef5;" overflow-scroll="false">
  <br />
  <div>
  <center><h4 style="color:white;">Create new account</h4>
  </div>
                <form>
                <div class="card" style="margin-bottom: -17px; margin-top: -10px; padding: 6px">
   Upload your <b>Profile Picture</b> at http://tinypic.com/ and paste the link for "Direct Link for Layouts" below:
  <label class="item item-input">
    <input type="text" ng-model="registerData.url">
  </label>
   </div>

  <div class="card">

  <div class="list">


   <label class="item item-input item-floating-label">
   <span class="input-label">Name</span>
   <input type="text" placeholder="Name" ng-model="registerData.name" name="userName">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Username</span>
   <input type="text" placeholder="Username" ng-model="registerData.userName">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Password</span>
   <input type="password" placeholder="Password"  ng-model="registerData.password1">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Confirm password</span>
   <input type="password" placeholder="Confirm password" ng-model="registerData.password2">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Website</span>
   <input type="text" placeholder="Website" ng-model="registerData.website">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Bio</span>
   <input type="text" placeholder="Bio" ng-model="registerData.bio">
   </label>

</div>

</div>
      </form>
<br/>
      <div class = "row center" style="bottom:0; margin-top: -22px;">
        <div class="col text-right" ng-click="goBack()">
            <button class="button button-normal button-assertive icon-left"><ion-icon class="ion-android-cancel">
            </ion-icon>
              Cancel</button>
        </div>
        <div class="col text-left">
            <button class="button button-normal button-balanced icon-left" ng-click="doRegister()"><ion-icon class="ion-checkmark">
            Register</button>
        </div>

      </div>



  </ion-content>
</ion-view>
