<ion-view view-title="Housestay">
  <ion-content>
<div class="list" ng-repeat="data in data" style="margin-bottom: 0px;">

    <a class="item item-avatar" ng-click="goDetails({{data.id}})">
      <img ng-src="img\def_house.png">
      <h2>{{data.name}}</h2>
      <p>{{data.price}}</p>
    </a>
</div>

<div class="list" ng-repeat="items in items" style="margin-bottom: 0px;">

    <a class="item item-avatar" ng-click="goDetails({{items.id}})">
      <img ng-src="img\def_house.png">
      <h2>{{items.name}}</h2>
      <p>{{items.price}}</p>
    </a>

    

</div>
  </ion-content>
</ion-view>
