<ion-view view-title="Sungai Air Tawar">
  <ion-content>
<div class="list" ng-repeat="data in data">

    <a class="item item-avatar" ng-click="goDetails({{data.id}})">
      <img src="img\logo.png">
      <h2>{{data.name}}</h2>
      <p>{{data.price}}</p>
    </a>

</div>
  </ion-content>
</ion-view>
