<ion-view view-title="Update House Stay">
  <ion-content>
    <div file-button style="float:right; margin-right: 10px;">
        <button class='btn btn-success btn-large'>Select Images</button>
    </div>
    <br />    <br />
    <div class="list">

   <label class="item item-input item-floating-label">
   <span class="input-label">House Stay Name</span>
   <input type="text" placeholder="House Stay Name" ng-model="houseData.name">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Address</span>
   <input type="text" placeholder="Address" ng-model="houseData.address">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Phone No</span>
   <input type="text" placeholder="Phone No" ng-model="houseData.phone">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Facilities</span>
   <input type="text" placeholder="Facilities" ng-model="houseData.facilities">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Price (RM)</span>
   <input type="number" placeholder="Price (RM)" ng-model="houseData.price">
   </label>
</div>
<br/>
      <div class = "row center" style="bottom:0; margin-top: -22px;">
        <div class="col text-right" ng-click="goBack()">
            <button class="button button-normal button-assertive icon-left"><ion-icon class="ion-android-cancel">
            </ion-icon>
              Cancel</button>
        </div>
        <div class="col text-left">
            <button class="button button-normal button-balanced icon-left" ng-click="doUpdate()"><ion-icon class="ion-checkmark">
            Done</button>
        </div>
      </div>
  </ion-content>
</ion-view>
