/* Empty. Add your own CSS if you like */
#map {
    width: 100%;
    height: 100%;
}

.scroll {
  height: 100%;
}

.item-positive {
	position: relative;
    z-index: 2;
    border: none;
    background-color: red;
}

#profile-bg {
        position: fixed;
        left: 0;
        top: 0px;
        width: 100%;
        height: 150px;

        background-size: 100%;
        background-position: 50% 20%;

        text-align: center;
      }

      #content {
        position: relative;
        margin-top: 90px;
        background-color: white;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 200px;
      }

      #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }
      #profile-name {
        color: #387ef5;
        font-size: 22px;
      }
      #profile-description {
        font-size: 15px;
        color: #888;
      }
      #profile-description a {
        color: #888;
      }

      #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }

      .list-item-content {
        padding: 5px;
      }

      .list-item {
        color: #666666;
      }

      .post {
        color: #444;
      }

      .post-time {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 11px;
        color: #888;
      }

      .post-profile-image {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 10px;
      }
      .post-options {
        position: absolute;
        font-size: 16px;
        right: 5px;
        bottom: 5px;
        color: #888;
      }

     .editIcon {
margin-left: 90%;
     }

.image{
  	width: 100%;
  	height: 280px;
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center, center;
}

.scrollCanvas{
  width: 100%;
  height: 100%;
  background-color: transparent;
}
